@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Great+Vibes&family=Pacifico&family=Sacramento&display=swap');


body {
  /* font-family: 'Pacifico'; */
  /* font-family: 'Great Vibes', cursive; */
  /* font-family: 'Amatic SC', sans-serif; */
}

.bannerHome {
  background-image: url(/src/assets/img/heroHome.png);
}
.heroTitle {
  font-family: 'Pacifico', cursive;
  letter-spacing: 5px;
}
p {
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 700;
  font-size: 2rem;
}

button {
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 5px;
  /* font-size: 5em; */
}