@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Great+Vibes&family=Pacifico&family=Sacramento&display=swap');

:root {
  --title-font: 'Great Vibes', cursive;
  --pharagrap-font: 'Patrick Hand', cursive;
  --color-separator: #bf2813
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
}


body p {
  font-family: var(--pharagrap-font);
  font-weight: 600;
  text-align: center
}
figcaption {
  font-family: var(--pharagrap-font);
  text-align: center;
  font-size: 1rem;
}
/** Home Section */
.bannerHome {
  background-image: url("../assets/img/heroHome2.png");
}
h1 {
  font-family: var(--title-font);
  letter-spacing: 5px;
}
h2 {
  line-height: 1.25rem;
  letter-spacing: 0.2em;
}
h4 {
  font-size: 2rem;
  /* text-wrap: nowrap; */
  letter-spacing: 0.2rem;
}
.bannerHome p {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 2rem;
}

button {
  font-family: var(--pharagrap-font), cursive;
  letter-spacing: 5px;
  /* font-size: 5em; */
}

p {
  font-family: 'Amatic SC';
  font-size: x-large;
  line-height: 2.5rem;
  text-align: center;
}

/** Intro Section */
.separator {
        width: 16.438rem;
        height: 2rem;
        background-image: url("../assets/img/separator.png");
        background-repeat: no-repeat;
        /* border: 0.5px #5e5e5e solid; */
      }
/** Carousel Section */

/** Products Details Section */

.productDetailsTitle h2 {
  font-family: var(--title-font);
}
